version: 2.1

jobs:
  test:
    docker:
      - image: circleci/node:14.16
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: npm run build
      - run: chmod +x deploy.sh
      - run: ./deploy.sh

workflows:
  version: 2.1
  test:
    jobs:
      - test
